<launch>
    <node name="zivid_camera" pkg="zivid_camera" type="zivid_camera_node" ns="zivid_camera" output="screen"/>
    <node name="sample_capture_cpp" pkg="zivid_samples" type="sample_capture_cpp" output="screen"/>
    <node name="rqt_reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure"/>
    <include ns="zivid_camera" file="$(find zivid_camera)/launch/visualize.launch"/>
</launch>
