<launch>
  <arg name="sample" default=""/>

  <arg name="hand_eye_mode" default=""/>
  <arg name="aruco_ids" default="[-1]"/>  <!-- Empty integer arrays cannot be specified, using -1 as a placeholder. -->
  <arg name="robot_frame" default="robot_end_effector"/>
  <arg name="world_frame" default="map"/>

  <node pkg="zivid_camera" exec="zivid_camera" name="zivid_camera" />
  <node pkg="zivid_samples" exec="$(var sample)" name="zivid_sample">
    <param name="hand_eye_mode" value="$(var hand_eye_mode)"/>
    <param name="aruco_ids" value="$(var aruco_ids)"/>
    <param name="robot_frame" value="$(var robot_frame)"/>
    <param name="world_frame" value="$(var world_frame)"/>
  </node>
</launch>
