<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:macro name="zivid_camera" params="prefix">
        <!-- Zivid Properties -->
        <xacro:property name="M_PI" value="3.1415926535897931" />

        <!-- Zivid Base Link -->
        <link name="${prefix}base_link">
            <!-- Visuals -->
            <visual>
                <origin xyz="-0.0030 -0.0758 0.0445" rpy="${0.5*M_PI} 0 ${0.5*M_PI}"/>
                <material name="blue">
                    <color rgba="0.25 0.25 0.25 1"/>
                </material>
                <geometry>
                    <mesh filename="package://zivid_description/meshes/visual/zivid-one-plus.stl" scale="0.001 0.001 0.001"/>
                </geometry>
            </visual>

            <!-- Collisions -->
            <collision>
                <origin xyz="-0.0030 -0.0758 0.0445" rpy="${0.5*M_PI} 0 ${0.5*M_PI}"/>
                <geometry>
                    <mesh filename="package://zivid_description/meshes/collision/zivid-one-plus.stl" scale="0.001 0.001 0.001"/>
                </geometry>
            </collision>
        </link>

        <!-- Zivid Optical (Measurement) and Projector Frames -->
        <link name="${prefix}optical_frame"/>
        <link name="${prefix}projector_frame"/>

        <!-- Zivid Optical (Measurement) and Projector Joints -->
        <joint name="${prefix}optical_joint" type="fixed">
            <origin xyz="0.065 0.062 0.0445" rpy="-${0.5*M_PI} 0 -${0.5*M_PI + 8.5/180*M_PI}"/>
            <parent link="${prefix}base_link"/>
            <child link="${prefix}optical_frame"/>
        </joint>

        <joint name="${prefix}projector_joint" type="fixed">
            <origin xyz="-0.0030 -0.0758 0.0445" rpy="-${0.5*M_PI} 0 -${0.5*M_PI}"/>
            <parent link="${prefix}base_link"/>
            <child link="${prefix}projector_frame"/>
        </joint>
    </xacro:macro>
</robot>