name: ROS Commit
# Note: If the workflow name is changed, the CI badge URL in the README must also be updated

on:
  push:           # Push trigger runs on any pushed branch.
  pull_request:   # Run on new and updated PR's.
  schedule:      # Scheduled trigger runs on the latest commit on the default branch.
    - cron:  '0 22 * * *'

env:
  NEWEST_ZIVID_VERSION: '2.16.0+46cdaba6-1'

jobs:
  code-analysis:
    name: Analyze code
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v2
        with:
          lfs: false
      - name: Run code_analysis.sh
        run: |
          CI_TEST_OS=ros:humble-ros-base-jammy \
          ./continuous-integration/run_code_analysis_in_docker.sh
      - name: Notify Teams
        if: ${{ failure() && github.ref == 'refs/heads/master' }}
        env:
          CI_FAILURE_TEAMS_HOOK: ${{ secrets.CI_FAILURE_TEAMS_HOOK }}
        run: python continuous-integration/notify_teams.py --status ${{ job.status }}
  build-and-test-newest-zivid:
    name: Build driver and run tests for newest Zivid SDK
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        os: ['ros:humble-ros-base-jammy', 'ros:jazzy-ros-core-noble']
        compiler: ['g++', 'clang++']
        include:
          - os: 'ros:humble-ros-base-jammy'
            compiler: 'g++-12'
          - os: 'ros:humble-ros-base-jammy'
            compiler: 'g++-13'
          - os: 'ros:humble-ros-base-jammy'
            compiler: 'clang++-15'
          - os: 'ros:jazzy-ros-core-noble'
            compiler: 'clang++-14'
          - os: 'ros:jazzy-ros-core-noble'
            compiler: 'clang++-15'
          - os: 'ros:jazzy-ros-core-noble'
            compiler: 'clang++-16'
          - os: 'ros:jazzy-ros-core-noble'
            compiler: 'clang++-17'
          - os: 'ros:jazzy-ros-core-noble'
            compiler: 'clang++-18'
    steps:
      - name: Check out code
        uses: actions/checkout@v2
        with:
          lfs: false
      - name: Build and Test
        run: |
          CI_TEST_ZIVID_VERSION=${{ env.NEWEST_ZIVID_VERSION }} \
          CI_TEST_OS=${{ matrix.os }} \
          CI_TEST_COMPILER=${{ matrix.compiler }} \
          ./continuous-integration/run_build_and_test_in_docker.sh
      - name: Notify Teams
        if: ${{ failure() && github.ref == 'refs/heads/master' }}
        env:
          CI_FAILURE_TEAMS_HOOK: ${{ secrets.CI_FAILURE_TEAMS_HOOK }}
        run: python continuous-integration/notify_teams.py --status ${{ job.status }}
  build-driver-and-run-tests-for-older-sdk:
    name: Build driver and run tests for older Zivid SDK
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        zivid-version: ['2.15.0+5fcc365b-1']
        ros-distro: ['ros:humble-ros-base-jammy']
    steps:
      - name: Check out code
        uses: actions/checkout@v2
        with:
          lfs: false
      - name: Build and Test
        run: |
          CI_TEST_ZIVID_VERSION=${{ matrix.zivid-version }} \
          CI_TEST_OS=${{ matrix.ros-distro }} \
          CI_TEST_COMPILER="g++" \
          ./continuous-integration/run_build_and_test_in_docker.sh
      - name: Notify Teams
        if: ${{ failure() && github.ref == 'refs/heads/master' }}
        env:
          CI_FAILURE_TEAMS_HOOK: ${{ secrets.CI_FAILURE_TEAMS_HOOK }}
        run: python continuous-integration/notify_teams.py --status ${{ job.status }}
